<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sample Chart</title>


    <script src="assets/lib/jquery/jquery.min.js"></script>
	<script src="assets/lib/highcharts/highcharts.js"></script>
	<script src="assets/lib/angular/angular.min.js"></script>
    <script src="assets/js/data.js"></script>
    <script src="assets/js/angular-app.js"></script>

</head>

<body>
	<div ng-app="plotter">
		<div ng-controller="PlotController as plot">

            <button ng-click="plotChart('line')" >Plot line Chart</button>
    		<button ng-click="plotChart('bar')" >Plot bar Chart</button>

            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


	</div>
</body>

</html>